$warning : #dc3232;
$info : #00a0d2;
$success : #46b450;
$one-twelve: 1 2 3 4 5 6 7 8 9 10 11 12;

.text-warning {
  color: $warning;
}

.text-info {
  color: $info;
}

.text-success {
  color: $success;
}

#success-message {
  p {
    background-color: $success;
  }
}

#error-message {
  p {
    background-color: $warning;
  }
}

.bf-notice {
  position: fixed;
  top: 0;
  left: 90px;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  p {
    color: #fff;
    width: 50%;
    padding: 10px 0;
    border: 1px solid #fff;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba( 000, 000, 000, 0.6 );
  }

  @media only screen and (max-width: 960px) {
    left: 18px;
  }

  @media screen and (max-width: 782px) {
    left: 0;
  }
}

.bf-status {
  background: #fff;
  border-left: 4px solid #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
  box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
  padding: 1px 12px;

  &.warning {
    border-left: 4px solid $warning;
    background-color: lighten( $warning, 45% );

    h2 {
      color: $warning;
    }
  }

  &.success {
    border-left: 4px solid $success;
    background-color: lighten( $success, 45% );

    h2 {
      color: $success;
    }
  }
}

.image-container {

  width: 150px;
  height: 150px;
  position: relative;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: #ddd;

  &:hover {
    background-color: #ffffff;
    &:before {
      color: #ddd;
    }
  }

  &:before {
    font-family: dashicons;
    font-size: 75px;
    line-height: 75px;
    color: #fff;
    content: "\f306";
    position: absolute;
    top: 45px;
    left: 35px;
  }

  .remove-message {
    display: none;
  }

  &.remove-image {

    &:before {
      content: '';
    }

    &:hover {
      .remove-message {
        background-color: rgba( $warning, 0.8 );
        color: #fff;
        height: 100%;
        width: 100%;
        font-weight: 600;
        display: flex;
        align-items: center;
        text-align: center;
        text-shadow: 1px 1px 0 #000;
        justify-content: center;
      }
    }
  }
}

.form-table {
  &.hide-table {
    display: none;
  }
}

.wp-color-result {
  margin: 0;
}

.column-ranger {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;

  span {
    font-size: 2em;
    display: block;
  }

  div,
  input {
    flex-grow: 1;
  }
}

.rows {
  .ui-sortable-placeholder {
    outline: 1px dashed #bbbbbb;
    opacity: 0.4;
    background-color: #cccccc;
    visibility: visible !important;
    margin-bottom: 5px;
  }
}

.sort-items {
  .ui-sortable-placeholder {
    outline: 1px dashed #bbb;
    background: #F1F1F1;
    visibility: visible !important;
  }
  .ui-sortable-helper {
    background-color: #fff;
    outline: 1px solid #e1e1e1;
  }

  tbody {
    tr {
      &:hover {
        cursor: move;
      }
    }
  }

  a.name {
    display: inline-block;
  }

  .editing {
    background-color: $info;
  }

  a,
  p {
    &.updating-sort {
      padding-left: 22px;
      background: url('../../images/spinner.gif') no-repeat;
    }
  }

  + h2 {
    margin-top: 40px;
  }
}

.spinner.spinner-dark {
  background: url('../../images/spinner-dark.gif') no-repeat;
}

button.button.edit-widget-area {
  background: $info;
  color: #ffffff;
  box-shadow: 0 1px 0 darken( $info, 10% );
  border-color: darken( $info, 10% );

  &:hover,
  &:active,
  &:focus  {
    color: #ffffff;
    border-color: darken( $info, 5% );
    box-shadow: 0 1px 0 darken( $info, 5% );
    background: lighten( $info, 10%);
  }
}

button.button.delete-widget-area,
button.button.cancel-widget-area {
  background: $warning;
  color: #ffffff;
  box-shadow: 0 1px 0 darken( $warning, 10% );
  border-color: darken( $warning, 10% );

  &:hover,
  &:active,
  &:focus  {
    color: #ffffff;
    border-color: darken( $warning, 5% );
    box-shadow: 0 1px 0 darken( $warning, 5% );
    background: lighten( $warning, 10%);
  }
}

button.button.save-widget-area {
  background: $success;
  color: #ffffff;
  box-shadow: 0 1px 0 darken( $success, 10% );
  border-color: darken( $success, 10% );

  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
    border-color: darken( $success, 5% );
    box-shadow: 0 1px 0 darken( $success, 5% );
    background: lighten( $success, 10%);
  }
}

.bf-repeater-top {
  h3 {
    font-size: 1em;
    margin-left: 10px;
  }
}

.bf-repeater.ui-sortable-handle {
  .row-hover{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 19;

    &:hover {
      background: $info !important;
    }
  }
}

.layout-thumb {
  position: relative;

  &:after {
    clear: both;
  }

  a.row-edit-link {
    position: absolute;
    top: 7px;
    left: 8%;
    z-index: 20;
    padding: 5px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    color: #0073aa;
    transition: all 100ms;
    border-radius: 2px;
    text-decoration: none;

    &:hover {
      border-color: #008EC2;
      background: $info;
      color: #fff;
    }
  }

  .row {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 44px;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: -1px -1px 1px #ccc, 1px 0 1px #ccc;

    .container{
      min-height: 44px !important;
      padding: 0 !important;
      margin: 0 5% !important;
      position: relative;
      box-shadow: -1px -1px 1px #ccc, 1px 0 1px #ccc;

      @each $col in $one-twelve {
        $i: index( $one-twelve, $col );
        $w: $i / 12 * 100%;
        .col-#{$i} {
          position: absolute;
          height: 100%;
          width: $w;
          z-index: 9;
        }
      }

      .left {
        left: 0;
        box-shadow: 2px 0 1px -1px #ccc;
      }

      .col-12.left{
        box-shadow: 0 0 0 transparent;
      }

      .right{
        right: 0;
      }

      > div.sidebar-col {
        background: url('../../images/diagonal.png') repeat;
        background-size: 3px 3px;
      }
    }
  }
}

#background-preview {
  min-height: 150px;
  position: relative;
  box-shadow: 0 0 0 1px #cccccc;

  .row-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
    &.window-width {
      width: 100%;
    }

    span {
      display: block;
      position: relative;
      text-align: center;
      font-size: 2em;
      width: 100%;
      z-index: 100;
    }
  }
}
.background-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.brightfire-slidebar {
  opacity: 0;
  position: relative;
  overflow: hidden;
  zoom: 1;

  &.stellar-row-slider {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
  }

  .bf-slider-viewport {
    height: 100%;
  }

  ul.slides {
    list-style: none;
    height: 100%;
    zoom: 1;
    margin: 0;

    li {
      height: 100%;
    }
  }
}

.stellar-custom-options {
  padding: 10px;
  margin: 10px 10px 10px 0;
  background-color: #efefef;

  h4 {
    background-color: #dfdfdf;
    color: #333;
    font-weight: bold;
    margin: 0;
    padding: 10px;
  }

}

// Positioning for the iris-picker because the inline display drives brian insane
.wp-picker-holder {
  position: absolute;
  z-index: 99;
}

// Fixing some issues where 'border-box' is being inherited by our stellar-admin.css
.wp-color-result,
.menu li {
  box-sizing: content-box;
}

/** Theme Tab Styles */
div.stellar-theme {
  cursor: pointer;
  display: inline-block;
  margin: 0.5%;
  position: relative;
  width: 31.33333%;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
  box-sizing: content-box;

  .spinner {
    float: none;
    margin: 4px 10px 0 0;
  }

  &:hover {

    .stellar-theme-actions {
      opacity: 1;
    }

    .stellar-theme-screenshot {

      background: #fff;

      img {
        opacity: .4;
      }

    }

    .stellar-more-details {
      opacity: 1;
      cursor: pointer;
    }

  }

  &.active {

    .stellar-theme-name {
      background: #23282d;
      color: #fff;
      font-weight: 300;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.5);

      span {
        font-weight: 600;
      }

    }

  }

  .stellar-theme-screenshot {
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    transition: opacity .3s ease-in-out;

    &:after {
      content: "";
      display: block;
      padding-top: 66.66666%;
    }

    img {
      display: block;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: opacity .3s ease-in-out;
    }
  }

  .stellar-more-details {
    opacity: 0;
    position: absolute;
    top: 35%;
    right: 25%;
    left: 25%;
    background: rgba(0,0,0,.7);
    color: #fff;
    font-size: 15px;
    text-shadow: 0 1px 0 rgba(0,0,0,.6);
    font-weight: 600;
    padding: 15px 12px;
    text-align: center;
    border-radius: 3px;
    transition: opacity .1s ease-in-out;
  }

  .stellar-theme-author {
    background: #23282d;
    color: #eee;
    display: none;
    font-size: 14px;
    margin: 0 10px;
    padding: 5px 10px;
    position: absolute;
    bottom: 56px;
  }

  .stellar-theme-name {
    font-size: 15px;
    height: 18px;
    margin: 0;
    padding: 15px;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;

    transition: all .1s ease-in-out;

    .stellar-theme-name-prefix {
      font-weight: 600;
      display: none;
      transition: all .1s ease-in-out;
    }

    .stellar-theme-name-text {
      font-weight: 600;
      transition: all .1s ease-in-out;
    }


    &.active {

      .stellar-theme-name-prefix {
        display: inline;
      }

      .stellar-theme-name-text {
        font-weight: 300;
      }

    }


  }

  .stellar-theme-actions {
    opacity: 0;

    .inactive-actions {
      display: block;
      transition: opacity .1s ease-in-out;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 38px;
      padding: 9px 10px 0;
      background: rgba(244, 244, 244, .7);
      border-left: 1px solid rgba(0, 0, 0, .05);
    }

    .active-actions {
      display: none;
      transition: opacity .1s ease-in-out;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 38px;
      padding: 9px 10px 0;
      background: rgba(0, 0, 0, .6);
      border-left: 1px solid #000000;
    }

    &.active {
      .inactive-actions {
        display: none;
      }

      .active-actions {
        display: block;
      }
    }
  }

}

/** Theme Tab Overlay */
.stellar-theme-overlay {
  display: none;

  .spinner {
    float: none;
    margin: 4px 10px 0 0;
  }

  p.theme-license {
    color: #72777c;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    float: none;
    display: inline-block;
    margin-left: 10px;
  }

}

/** Stellar Widget Options Wrapper */
div.stellar-widget-options {
  padding: 0 8px;
  background-color: #efefef;
  border: 1px solid #ccc;
  margin-bottom: 12px;

  h3 {
    border-bottom: 1px solid #ccc;
    padding: 0 0 12px 0;
  }
}