/*
 * jQuery FlexSlider v2.3.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Ville (@villeristi)
 * 
 */

// ====================================================================================================================
// SCSS PORTED OVER FROM LESS BY BRIGHTFIRE
// ====================================================================================================================*/

// BrightFire added path so we can import into brightfire_slides.scss
// $flexslider-assets-path is set in brightfire_slides.scss

// Transition

@mixin transition($duration: 1s, $easing: ease) {
  -webkit-transition: all $duration $easing;
  -moz-transition: all $duration $easing;
  -ms-transition: all $duration $easing;
  -o-transition: all $duration $easing;
  transition: all $duration $easing;
}

// Border-radius

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Box-shadow

@mixin box-shadow($args: 0 0 5px -1px rgba(0, 0, 0, 0.75)) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -o-box-shadow: $args;
  box-shadow: $args;
}

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/

.bf-slider-container,
.bf-slider-slider {

  a:hover,
  a:focus {
    outline: none;
  }
}

.slides,
.bf-slider-control-nav,
.bf-slider-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bf-slider-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/

.brightfire-slider {

  margin: 0;
  overflow: hidden;
  padding: 0;

  .slides {

    > li {
      display: none;
      -webkit-backface-visibility: hidden;
    }

    img {
      width: 100%;
      display: block;
    }

    // Clearfix for the .slides element

    &:after {
      content: "\0020";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }

    html[xmlns] & {
      display: block;
    }

    * html & {
      height: 1%;
    }

    // No JavaScript Fallback
    // If you are not using another script, such as Modernizr, make sure you
    // include js that eliminates this class on page load

    .no-js & {

      > li {
        &:first-child {
          display: block;
        }
      }
    }
  }
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/

.brightfire-slider {

  margin: 0;
  background: #fff;
  padding: 10px;
  position: relative;
  zoom: 1;

  @include border-radius(4px);
  @include box-shadow(0px 6px 14px -5px rgba(0, 0, 0, 0.75));

  .slides {
    zoom: 1;
  }
}

.bf-slider-viewport {

  max-height: 2000px;
  @include transition();

}

.carousel li {
  margin-right: 5px;
}

// Direction Nav

.bf-slider-direction-nav {

  *height: 0;

  // Global styles

  a,
  a:link {
    @include border-radius(20px);
    background: white;
    text-decoration: none;
    display: block;
    width: 40px;
    line-height: 44px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;

    @include box-shadow();
    @include transition(0.3s, ease-in-out);

    &:before {
      font-family: "fontawesome", arial;
      font-size: 30px;
      display: block;
      position: absolute;
      left: 6px;
      content: '\f053';
    }

    &.bf-slider-next:before {
      content: '\f054';
      left: 12px;
    }
  }

  // Prev

  .bf-slider-prev {
    left: -50px;
  }

  // Next

  .bf-slider-next {
    right: -50px;
  }

  // Hover states

  .brightfire-slidebar:hover & {

    .bf-slider-prev {
      opacity: 0.4;
      left: 14px;

      &:hover {
        opacity: 1;
      }
    }

    .bf-slider-next {
      opacity: 0.4;
      right: 14px;

      &:hover {
        opacity: 1;
      }
    }
  }

  // Disabled

  .bf-slider-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
  }
}

// Pause/Play

.bf-slider-pauseplay a {

  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;

  &:before {
    font-family: "fontawsome", arial;
    font-size: 20px;
    display: inline-block;
    content: '\f04c';
  }

  &:hover {
    opacity: 1;
  }

  .bf-slider-play:before {
    content: '\f04b';
  }

}

// Control Nav

.bf-slider-control-nav {

  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;

  li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }

}

//// Control paging
//
//.bf-slider-control-paging li {
//
//  a {
//    width: 11px;
//    height: 11px;
//    display: block;
//    background: #666;
//    background: rgba(0, 0, 0, 0.5);
//    cursor: pointer;
//    text-indent: -9999px;
//
//    @include box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.3) inset);
//    @include border-radius(20px);
//
//    &:hover {
//      background: #333;
//      background: rgba(0, 0, 0, 0.7);
//    }
//
//    &.bf-slider-active {
//      background: #000;
//      background: rgba(0, 0, 0, 0.9);
//      cursor: default;
//    }
//  }
//}
//
//.bf-slider-control-thumbs {
//  margin: 5px 0 0;
//  position: static;
//  overflow: hidden;
//
//  li {
//    width: 25%;
//    float: left;
//    margin: 0;
//  }
//
//  img {
//    width: 100%;
//    display: block;
//    opacity: .7;
//    cursor: pointer;
//
//    @include transition();
//
//    &:hover {
//      opacity: 1;
//    }
//  }
//
//  .bf-slider-active {
//    opacity: 1;
//    cursor: default;
//  }
//}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and (max-width: 860px) {

  .bf-slider-direction-nav {

    .bf-slider-prev {
      opacity: 1;
      left: 10px;
    }

    .bf-slider-next {
      opacity: 1;
      right: 10px;
    }
  }
}
