
/* Global Menu Structure and Styling
======================================*/
.brightfire-menu-bar {
  font-weight: 700;
}

.bfmenu {
  border-color:inherit;
  width: 100%;
  padding: 0;
  float: left;
  position: relative;
  background: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  a {
    -o-transition: color .3s linear, background .3s linear;
    -moz-transition: color .3s linear, background .3s linear;
    -webkit-transition: color .3s linear, background .3s linear;
    transition: color .3s linear, background .3s linear;
  }

  ul.bfmenu-menubar {
    margin: 0;
    padding: 0;
    list-style: none;
    border-color:inherit;


    &.bfmenu-top-level {
      > li {
        display: inline-block;
        position: relative;

        &.megamenu-parent,
        &.megamenu-panel {
          position: static;
        }

        &.megamenu-panel {
          .megamenu {
            padding: $base-spacing;
          }
        }

        > a {
          padding: $half-spacing;
          display: inline-block;
          text-decoration: none;
          outline: 0;
          min-height: 100%;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          -webkit-tap-highlight-color: transparent;

          &.menu-text {
            min-height: 100%;
          }

          i.indicator.fa {
            display: none;
          }
        }

        > .megamenu {
          width: 100%;
          left: 0;
          position: absolute;
          display: none;
          z-index: 99;
        }

      } // > li
    } // .bfmenu-top-level

    .megamenu {

      .bfmenu-tabs-wrap {
        width: 100%;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        @include clearfix();
      }

      .bfmenu-tabs {
        width: 80%;
        float: left;


        .bfmenu-tab-heading {
          display: none;
        }

        .bfmenu-tab-content {
          width: 100%;
          min-height: 30px;
          padding: $base-spacing;
          float: right;
          display: none;
          text-align: left;
          border: none;

          &.active {
            display: block;
          }
        }

      }

      .bfmenu-tabs-nav {
        width: 20%;
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
      }

      // don't next this block in .bfmenu-tabs-nav
      .tab-nav-item > a,
      a.bfmenu-tab-heading {
        width: 100%;
        padding: $half-spacing $base-spacing $half-spacing $half-spacing;
        float: left;
        font-size: 1em;
        text-align: left;
        text-decoration: none;
        outline: 0;
        position: relative;
        line-height: 1.25em;
        border-bottom-width: 1px;
        border-bottom-style: solid;

        &:after {
          content: "\f0da";
          font-family: FontAwesome;
          position: absolute;
          right: $half-spacing;
          top: $half-spacing;
        }
      }
    }

    //First level dropdown
    ul.dropdown {
      list-style: none;
      margin: 0;
      padding: 0;
      display: none;
      position: absolute;
      z-index: 99;
      min-width: 100%;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      text-align: left;

      li {
        clear: both;
        width: 100%;
        border-top: 1px none;
        position: relative;

        a {
          width: 100%;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          padding: 0.85em;
          text-decoration: none;
          display: inline-block;
          float: left;
          clear: both;
          position: relative;
          padding-right: 20px;
          outline: 0;
          -o-transition: padding .2s linear;
          -moz-transition: padding .2s linear;
          -webkit-transition: padding .2s linear;
          transition: padding .2s linear;
          line-height: 1.25em;

          .menu-text {
            width: 100%;
            white-space: nowrap;
            padding-right: 20px;
          }

          i.indicator.fa {
            position: absolute;
            right: 0;
            font-size: .75em;
            line-height: inherit;
            width: 40px;
            text-align: center;
          }
        }

        &:last-child {
          a {
            border-bottom-width: 0;
          }
        }

        //Second level dropdown/flyout
        ul.dropdown {
          left: 100%;
          min-width: auto;

          &.dropdown-left {
            left: -100%;
            min-width: 100%;
          }

        } // ul.dropdown
      } // li
    } // ul.dropdown

  } // ul.bfmenu-menubar

  .bfmenu-inline {

    display: block;
    margin: 0;

    > li {
      display: inline-block;
      margin: 0;
      padding: 0 $half-spacing;


      &.separator {
        padding: 0;
      }

      > a {
        display: inline-block;
        line-height: 1;
      }
    }
  } // .bfmenu-inline



  /* scrollable menu */
  .scrollable > .scrollable-fix {
    display: none;
  }

  .showhide {
    padding: 10px;
    display: none;
    text-decoration: none;
    position: relative;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    span {
      padding-right: .2em;
    }
  } // .showhide


  // Desktop Only Styles
  @include media( $desktop ) {

    // Menubar positioning
    &.bfmenu-right,
    &.bfmenu-button-bar-right {
      text-align: right;
    }

    &.bfmenu-left,
    &.bfmenu-button-bar-left {
      text-align: left;
    }

    &.bfmenu-center,
    &.bfmenu-button-bar-center {
      text-align: center;
    }

    &.bfmenu-justify,
    &.bfmenu-button-bar-justify {
      ul.bfmenu-menubar.bfmenu-top-level{
        @include display(flex);
        justify-content: space-around;
        flex-wrap: wrap;

        > li {
          flex-grow: 1;

          > a {
            display: flex;
            align-items: center;

            .menu-text {
              width: 100%;
            }
          }
        }
      }
    }

    &.bfmenu-justify-spaced,
    &.bfmenu-button-bar-justify-spaced {
      ul.bfmenu-menubar.bfmenu-top-level{
        @include display(flex);
        justify-content: space-between;
        flex-wrap: wrap;

        > li {

          > a {
            display: flex;
            align-items: center;

            .menu-text {
              width: 100%;
            }
          }
        }
      }
    }

    &.bfmenu-button-bar-left,
    &.bfmenu-button-bar-center,
    &.bfmenu-button-bar-right,
    &.bfmenu-button-bar-justify {

      .bfmenu-top-level {
        > li {
          margin-left: $base-spacing;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  /* Responsive */
  /* Responsive menu container */
  &.responsive {
    @include media( $mobile ) {

      padding: 0;

      .showhide {
        margin: 0;
      }

      i.indicator.fa {
        display: block;
      }

      ul.bfmenu-menubar {
        width: 100%;
        float: left !important;
        display: block;

        &.scrollable {
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
          > .scrollable-fix {
            display: block;
          }
        }

        > li {
          width: 100%;
          display: block;
          position: relative;
          @include clearfix();

          > a {
            width: 100%;
            padding: $half-spacing;
            position: relative;
            font-size: 1rem;
            text-align: left;
          }

          &.active > a {
            border-bottom: none;
          }

          > .megamenu {
            position: relative;
            border-top: none;
            overflow: auto;

            .bfmenu-tabs-nav {
              display: none;
            }

            .bfmenu-tabs {
              width: 100%;

              .bfmenu-tab-heading {
                display: block;
                line-height: 1;
                border-right: none;
                transition: all 300ms;
                transform: rotate(0deg);
                padding-left: 3em;

                &.active {
                  &:after {
                    transform: rotate(90deg);
                    transition: all 300ms;
                  }
                }

                &:after {
                  position: absolute;
                  right: 0;
                  top: 0;
                  line-height: 1.5;
                  display: inline-block;
                  font-size: 1em;
                  text-align: center;
                  padding: $half-spacing $base-spacing;
                  width: auto;
                  z-index: 2;
                }
              }

              .bfmenu-tabs-content{
                width: 100%;
              }
            }


          } // .megamenu

        }


        li {

          > a {
            width: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-tap-highlight-color: transparent;

            .menu-text {
              text-align: left;
              display: inline-block;
              padding-right: $base-spacing * 2;
              z-index:1;
            }

            i.indicator.fa {
              position: absolute;
              right: 0;
              top: 0;
              line-height: 1.5;
              display: inline-block;
              font-size: 1em;
              text-align: center;
              padding: $half-spacing $base-spacing;
              width: auto;
              z-index:2;
            }
          }
        }


        ul.dropdown {
          width: 100%;
          left: 0;
          position: static;
          border: none;
          float: left;

          li {
            position: relative;

            ul.dropdown {
              width: 100%;
              left: 0;
              position: static;
              border: none;
              float: left;
            }

            a {
              line-height: 1;
              padding: $half-spacing;

              width: 100%;

              .menu-text {
                text-align: left;
                padding-left: 1.5em;
                white-space: normal;
                z-index: 1;
              }

              i.indicator.fa {
                z-index: 2;
                line-height: 1.5em;
                width: auto;
              }
            }

            ul.dropdown li  {
              a .menu-text {
                padding-left: 3em;
              }
              ul.dropdown li {
                a .menu-text {
                  padding-left: 4.5em;
                }
              }
            }

          }
        }

        &.bfmenu-top-level {
          > li {
            > a {
              min-height: inherit;
            }
          }
        }

      } //ul.bfemu-menubar

      .bfmenu-inline {
        > li {
          display: block;

          &.separator {
            display: none;
          }
        }
      } // .bfmenu-inline
    } // media query
  } // .responsive

} // .bfmenu

/* Color functions and mixins
======================================*/

@function dropdown-border-color( $color ) {
  @if (lightness( $color ) > 50 ) {
    @return shade( $color, 15%);
  } @else {
    @return tint( $color, 15%);
  }
}

@mixin background-hovers( $name, $color ) {
  .background-hover-#{$name} {
    &.active > a:link,
    &.active > a:visited,
    > a.active:link {
      background-color: $color;
    }
  }
}

@mixin text-hovers( $name, $color ) {
  .text-hover-#{$name} {
    &.active > a:link,
    &.active > a:visited,
    > a.active:link,
    > a.active:visited{
      color: $color;
    }
  }
}

@mixin text-menu( $name, $color ) {
  .text-menu-#{$name} {
    > a:link,
    > a:visited {
      color: $color;
    }
  }
}

@mixin dropdown-borders( $name, $color ) {
  .dropdown-border-#{$name} {
    > ul.dropdown,
    > a:link,
    > a:visited {
      border-color: dropdown-border-color( $color );
    }
  }
}

/* Menu Colors
======================================*/
// Add custom color specifics that we need for menus
@each $name, $color in $custom-colors {
  .background-#{$name} {
    background-color: $color;
  }
}

.bfmenu-divider-between  {
  .bfmenu-top-level {
    border-color:inherit;

    > li {
      border-left-width: 1px;
      border-left-style: solid;
      border-color:inherit;

      &:first-child {
        border-left-width: 0;
      }
    }
  }
}

.bfmenu-divider-around  {
  .bfmenu-top-level {
    border-color:inherit;

    > li {
      &:first-child {
        border-left-width: 1px;
        border-left-style: solid;
        border-left-style: solid;
        border-color:inherit;
      }
      &:last-child {
        border-right-width: 1px;
        border-right-style: solid;
        border-color:inherit;
      }
    }
  }
}

.menu-uppercase {
  .bfmenu-top-level {
    > li {
      > a {
        text-transform: uppercase;
      }
    }
  }
}

@each $name, $color in map_merge( $stellar-colors, $custom-colors ) {
  @include background-hovers( $name, $color );
  @include text-hovers( $name, $color );
  @include text-menu( $name, $color );
  @include dropdown-borders( $name, $color );
}