.text-warning {
  color: #dc3232; }

.text-info {
  color: #00a0d2; }

.text-success {
  color: #46b450; }

#success-message p {
  background-color: #46b450; }

#error-message p {
  background-color: #dc3232; }

.bf-notice {
  position: fixed;
  top: 0;
  left: 90px;
  right: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: 100; }
  .bf-notice p {
    color: #fff;
    width: 50%;
    padding: 10px 0;
    border: 1px solid #fff;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6); }
  @media only screen and (max-width: 960px) {
    .bf-notice {
      left: 18px; } }
  @media screen and (max-width: 782px) {
    .bf-notice {
      left: 0; } }

.bf-status {
  background: #fff;
  border-left: 4px solid #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 1px 12px; }
  .bf-status.warning {
    border-left: 4px solid #dc3232;
    background-color: #fdf6f6; }
    .bf-status.warning h2 {
      color: #dc3232; }
  .bf-status.success {
    border-left: 4px solid #46b450;
    background-color: #e9f6ea; }
    .bf-status.success h2 {
      color: #46b450; }

.image-container {
  width: 150px;
  height: 150px;
  position: relative;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: #ddd; }
  .image-container:hover {
    background-color: #ffffff; }
    .image-container:hover:before {
      color: #ddd; }
  .image-container:before {
    font-family: dashicons;
    font-size: 75px;
    line-height: 75px;
    color: #fff;
    content: "\f306";
    position: absolute;
    top: 45px;
    left: 35px; }
  .image-container .remove-message {
    display: none; }
  .image-container.remove-image:before {
    content: ''; }
  .image-container.remove-image:hover .remove-message {
    background-color: rgba(220, 50, 50, 0.8);
    color: #fff;
    height: 100%;
    width: 100%;
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    -webkit-box-pack: center;
            justify-content: center; }

.form-table.hide-table {
  display: none; }

.wp-color-result {
  margin: 0; }

.column-ranger {
  display: -webkit-box;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 15px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px; }
  .column-ranger span {
    font-size: 2em;
    display: block; }
  .column-ranger div,
  .column-ranger input {
    -webkit-box-flex: 1;
            flex-grow: 1; }

.rows .ui-sortable-placeholder {
  outline: 1px dashed #bbbbbb;
  opacity: 0.4;
  background-color: #cccccc;
  visibility: visible !important;
  margin-bottom: 5px; }

.sort-items .ui-sortable-placeholder {
  outline: 1px dashed #bbb;
  background: #F1F1F1;
  visibility: visible !important; }
.sort-items .ui-sortable-helper {
  background-color: #fff;
  outline: 1px solid #e1e1e1; }
.sort-items tbody tr:hover {
  cursor: move; }
.sort-items a.name {
  display: inline-block; }
.sort-items .editing {
  background-color: #00a0d2; }
.sort-items a.updating-sort,
.sort-items p.updating-sort {
  padding-left: 22px;
  background: url("../../images/spinner.gif") no-repeat; }
.sort-items + h2 {
  margin-top: 40px; }

.spinner.spinner-dark {
  background: url("../../images/spinner-dark.gif") no-repeat; }

button.button.edit-widget-area {
  background: #00a0d2;
  color: #ffffff;
  box-shadow: 0 1px 0 #00799f;
  border-color: #00799f; }
  button.button.edit-widget-area:hover, button.button.edit-widget-area:active, button.button.edit-widget-area:focus {
    color: #ffffff;
    border-color: #008db8;
    box-shadow: 0 1px 0 #008db8;
    background: #06c4ff; }

button.button.delete-widget-area,
button.button.cancel-widget-area {
  background: #dc3232;
  color: #ffffff;
  box-shadow: 0 1px 0 #bb2020;
  border-color: #bb2020; }
  button.button.delete-widget-area:hover, button.button.delete-widget-area:active, button.button.delete-widget-area:focus,
  button.button.cancel-widget-area:hover,
  button.button.cancel-widget-area:active,
  button.button.cancel-widget-area:focus {
    color: #ffffff;
    border-color: #d12424;
    box-shadow: 0 1px 0 #d12424;
    background: #e35e5e; }

button.button.save-widget-area {
  background: #46b450;
  color: #ffffff;
  box-shadow: 0 1px 0 #388f40;
  border-color: #388f40; }
  button.button.save-widget-area:hover, button.button.save-widget-area:active, button.button.save-widget-area:focus {
    color: #ffffff;
    border-color: #3fa248;
    box-shadow: 0 1px 0 #3fa248;
    background: #69c471; }

.bf-repeater-top h3 {
  font-size: 1em;
  margin-left: 10px; }

.bf-repeater.ui-sortable-handle .row-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 19; }
  .bf-repeater.ui-sortable-handle .row-hover:hover {
    background: #00a0d2 !important; }

.layout-thumb {
  position: relative; }
  .layout-thumb:after {
    clear: both; }
  .layout-thumb a.row-edit-link {
    position: absolute;
    top: 7px;
    left: 8%;
    z-index: 20;
    padding: 5px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    color: #0073aa;
    -webkit-transition: all 100ms;
            transition: all 100ms;
    border-radius: 2px;
    text-decoration: none; }
    .layout-thumb a.row-edit-link:hover {
      border-color: #008EC2;
      background: #00a0d2;
      color: #fff; }
  .layout-thumb .row {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 44px;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: -1px -1px 1px #ccc, 1px 0 1px #ccc; }
    .layout-thumb .row .container {
      min-height: 44px !important;
      padding: 0 !important;
      margin: 0 5% !important;
      position: relative;
      box-shadow: -1px -1px 1px #ccc, 1px 0 1px #ccc; }
      .layout-thumb .row .container .col-1 {
        position: absolute;
        height: 100%;
        width: 8.33%;
        z-index: 9; }
      .layout-thumb .row .container .col-2 {
        position: absolute;
        height: 100%;
        width: 16.67%;
        z-index: 9; }
      .layout-thumb .row .container .col-3 {
        position: absolute;
        height: 100%;
        width: 25%;
        z-index: 9; }
      .layout-thumb .row .container .col-4 {
        position: absolute;
        height: 100%;
        width: 33.33%;
        z-index: 9; }
      .layout-thumb .row .container .col-5 {
        position: absolute;
        height: 100%;
        width: 41.67%;
        z-index: 9; }
      .layout-thumb .row .container .col-6 {
        position: absolute;
        height: 100%;
        width: 50%;
        z-index: 9; }
      .layout-thumb .row .container .col-7 {
        position: absolute;
        height: 100%;
        width: 58.33%;
        z-index: 9; }
      .layout-thumb .row .container .col-8 {
        position: absolute;
        height: 100%;
        width: 66.67%;
        z-index: 9; }
      .layout-thumb .row .container .col-9 {
        position: absolute;
        height: 100%;
        width: 75%;
        z-index: 9; }
      .layout-thumb .row .container .col-10 {
        position: absolute;
        height: 100%;
        width: 83.33%;
        z-index: 9; }
      .layout-thumb .row .container .col-11 {
        position: absolute;
        height: 100%;
        width: 91.67%;
        z-index: 9; }
      .layout-thumb .row .container .col-12 {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 9; }
      .layout-thumb .row .container .left {
        left: 0;
        box-shadow: 2px 0 1px -1px #ccc; }
      .layout-thumb .row .container .col-12.left {
        box-shadow: 0 0 0 transparent; }
      .layout-thumb .row .container .right {
        right: 0; }
      .layout-thumb .row .container > div.sidebar-col {
        background: url("../../images/diagonal.png") repeat;
        background-size: 3px 3px; }

#background-preview {
  min-height: 150px;
  position: relative;
  box-shadow: 0 0 0 1px #cccccc; }
  #background-preview .row-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    position: relative;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 70%; }
    #background-preview .row-container.window-width {
      width: 100%; }
    #background-preview .row-container span {
      display: block;
      position: relative;
      text-align: center;
      font-size: 2em;
      width: 100%;
      z-index: 100; }

.background-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.brightfire-slidebar {
  opacity: 0;
  position: relative;
  overflow: hidden;
  zoom: 1; }
  .brightfire-slidebar.stellar-row-slider {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .brightfire-slidebar .bf-slider-viewport {
    height: 100%; }
  .brightfire-slidebar ul.slides {
    list-style: none;
    height: 100%;
    zoom: 1;
    margin: 0; }
    .brightfire-slidebar ul.slides li {
      height: 100%; }

.stellar-custom-options {
  padding: 10px;
  margin: 10px 10px 10px 0;
  background-color: #efefef; }
  .stellar-custom-options h4 {
    background-color: #dfdfdf;
    color: #333;
    font-weight: bold;
    margin: 0;
    padding: 10px; }

.wp-picker-holder {
  position: absolute;
  z-index: 99; }

.wp-color-result,
.menu li {
  box-sizing: content-box; }

/** Theme Tab Styles */
div.stellar-theme {
  cursor: pointer;
  display: inline-block;
  margin: 0.5%;
  position: relative;
  width: 31.33333%;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
  box-sizing: content-box; }
  div.stellar-theme .spinner {
    float: none;
    margin: 4px 10px 0 0; }
  div.stellar-theme:hover .stellar-theme-actions {
    opacity: 1; }
  div.stellar-theme:hover .stellar-theme-screenshot {
    background: #fff; }
    div.stellar-theme:hover .stellar-theme-screenshot img {
      opacity: .4; }
  div.stellar-theme:hover .stellar-more-details {
    opacity: 1;
    cursor: pointer; }
  div.stellar-theme.active .stellar-theme-name {
    background: #23282d;
    color: #fff;
    font-weight: 300;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5); }
    div.stellar-theme.active .stellar-theme-name span {
      font-weight: 600; }
  div.stellar-theme .stellar-theme-screenshot {
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out; }
    div.stellar-theme .stellar-theme-screenshot:after {
      content: "";
      display: block;
      padding-top: 66.66666%; }
    div.stellar-theme .stellar-theme-screenshot img {
      display: block;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-transition: opacity .3s ease-in-out;
              transition: opacity .3s ease-in-out; }
  div.stellar-theme .stellar-more-details {
    opacity: 0;
    position: absolute;
    top: 35%;
    right: 25%;
    left: 25%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 15px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
    font-weight: 600;
    padding: 15px 12px;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: opacity .1s ease-in-out;
            transition: opacity .1s ease-in-out; }
  div.stellar-theme .stellar-theme-author {
    background: #23282d;
    color: #eee;
    display: none;
    font-size: 14px;
    margin: 0 10px;
    padding: 5px 10px;
    position: absolute;
    bottom: 56px; }
  div.stellar-theme .stellar-theme-name {
    font-size: 15px;
    height: 18px;
    margin: 0;
    padding: 15px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    -webkit-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out; }
    div.stellar-theme .stellar-theme-name .stellar-theme-name-prefix {
      font-weight: 600;
      display: none;
      -webkit-transition: all .1s ease-in-out;
              transition: all .1s ease-in-out; }
    div.stellar-theme .stellar-theme-name .stellar-theme-name-text {
      font-weight: 600;
      -webkit-transition: all .1s ease-in-out;
              transition: all .1s ease-in-out; }
    div.stellar-theme .stellar-theme-name.active .stellar-theme-name-prefix {
      display: inline; }
    div.stellar-theme .stellar-theme-name.active .stellar-theme-name-text {
      font-weight: 300; }
  div.stellar-theme .stellar-theme-actions {
    opacity: 0; }
    div.stellar-theme .stellar-theme-actions .inactive-actions {
      display: block;
      -webkit-transition: opacity .1s ease-in-out;
              transition: opacity .1s ease-in-out;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 38px;
      padding: 9px 10px 0;
      background: rgba(244, 244, 244, 0.7);
      border-left: 1px solid rgba(0, 0, 0, 0.05); }
    div.stellar-theme .stellar-theme-actions .active-actions {
      display: none;
      -webkit-transition: opacity .1s ease-in-out;
              transition: opacity .1s ease-in-out;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 38px;
      padding: 9px 10px 0;
      background: rgba(0, 0, 0, 0.6);
      border-left: 1px solid #000000; }
    div.stellar-theme .stellar-theme-actions.active .inactive-actions {
      display: none; }
    div.stellar-theme .stellar-theme-actions.active .active-actions {
      display: block; }

/** Theme Tab Overlay */
.stellar-theme-overlay {
  display: none; }
  .stellar-theme-overlay .spinner {
    float: none;
    margin: 4px 10px 0 0; }
  .stellar-theme-overlay p.theme-license {
    color: #72777c;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    float: none;
    display: inline-block;
    margin-left: 10px; }

/** Stellar Widget Options Wrapper */
div.stellar-widget-options {
  padding: 0 8px;
  background-color: #efefef;
  border: 1px solid #ccc;
  margin-bottom: 12px; }
  div.stellar-widget-options h3 {
    border-bottom: 1px solid #ccc;
    padding: 0 0 12px 0; }
