.link-color-light {
  .fa-inverse {
    color: $primary-color;
  }
}

.bf-location-social {
  line-height: 1;

  &.left {
    display: block;
    text-align: left;
  }

  &.right {
    display: block;
    text-align: right;
  }

  .link-color-light {
    a {
      .fa-inverse {
        color: $primary-color;
      }
    }
  }
  a {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;

    .logo {
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  a {
    &:first-child {
      margin-left: 0;

      .logo {
        margin-left: 0;
      }
    }
    &:last-child {
      margin-right: 0;

      .logo {
        margin-right: 0;
      }
    }
  }

  i:before {
    display: inherit;
  }

  &.mini{

    .fa-stack {
      font-size: $half-spacing;
    }

    .logo {
      font-size: $base-font-size;
      line-height: $base-line-height;
    }
  }

  &.small{
    .fa-stack {
      font-size: ( $half-spacing + $base-spacing ) / 2;
    }
    .logo {
      font-size: $base-spacing;
    }
  }

  &.large {
    .fa-stack {
      font-size: $base-spacing;
    }
    .logo {
      font-size: $base-spacing-2;
    }
  }
}

.agency-schema {

  *:not(.margin-bottom-1) {
    margin-bottom: 0;
  }
}