@mixin review-background-colors( $class, $color, $text: #ffffff ) {
  &#{$class} {
    background: $color;
    color: $text;
  }
}

// Stars Markup
div.aggregate-rating-stars {
  margin: 0 0 $base-spacing 0;

  i.star-gray {
    color: #ccc;
  }

  // Colors
  &.rating-gold {
    i.star-fill {
      color: #e9ad3a;
    }
  }

  &.rating-light {
    i.star-fill {
      color: #ffffff;
    }
  }

  &.rating-dark {
    i.star-fill {
      color: $dark-gray;
    }
  }

  &.rating-primary {
    i.star-fill {
      color: $primary-color;
    }
  }

  &.rating-secondary {
    i.star-fill {
      color: $secondary-color;
    }
  }

  &.rating-tertiary {
    i.star-fill {
      color: $tertiary-color;
    }
  }

  &.rating-accent {
    i.star-fill {
      color: $accent-color;
    }
  }

  span.aggregate-star {
    font-size: modular-scale(5, $base-font-size, $font-ratio);
    display: inline-block;
    margin: 0 ($half-spacing / 2);
    padding: 0;

    &.fa-stack {
      width: 1em;
      height: 1em;
      line-height: 1em;
      position: relative;
    }

    i.fa {
      &.star-fill {
        height: 1em;
        line-height: 1em;
        width: 0;
        overflow-x: hidden;
        top: 0;
        left: 0;
      }

      &.star-gray {
        width: 1em;
        height: 1em;
        line-height: 1em;
        top: 0;
        left: 0;
      }

      &:before {
        position: absolute;
        left: 3%; // Glyph centering for star-fill and star-gray to match our 1em width
      }
    }
  }

  span.aggregate-social {
    font-size: modular-scale(5, $base-font-size, $font-ratio) / 2;
    display: inline-block;
    margin: 0 ($half-spacing / 2);
    padding: 0;
  }
}

li.review-entry {
  $image-size: 120px;
  border-bottom: $base-border;
  padding: $base-spacing 0;

  &:last-of-type {
    border-bottom: none;
  }

  div.review-image {
    margin-right:20px;
    float: left;
    width: $image-size;
    height: $image-size;

    .review-author-image {
      border-radius: 150px;
      border: 1px solid #ccc;
      display: inline-block;
      width: $image-size;
      height: $image-size;
    }

    .review-author-initials {
      border-radius: 150px;
      //border: 1px solid #ccc;
      display: inline-block;
      background: #333333;
      color: #ffffff;
      text-align: center;
      font-size: 3rem;
      line-height: $image-size;
      width: $image-size;
      height: $image-size;

      @include review-background-colors( '.google', $google );
      @include review-background-colors( '.facebook', $facebook );
      @include review-background-colors( '.yelp', $yelp );
      @include review-background-colors( '.linkedin', $linkedin );
      @include review-background-colors( '.foursquare', $foursquare );
      @include review-background-colors( '.yahoo_local', $yahoo_local );
      @include review-background-colors( '.citysearch', $citysearch );
      @include review-background-colors( '.yellow_pages', $yellow_pages, #333 );
      @include review-background-colors( '.bbb', $bbb );
    }
  }

  div.review-info {
    margin-left: $image-size + 20;
  }

  div.aggregate-rating-stars {
    display: block;
    margin-bottom: $half-spacing;


    span.aggregate-star {
      font-size: modular-scale(2, $base-font-size, $font-ratio);
    }

    span.aggregate-social {
      font-size: modular-scale(2, $base-font-size, $font-ratio) / 2;
    }
  }

  span.review-pullquote {
    display: block;
    margin-bottom: $half-spacing;
    font-style: italic;
    font-size: modular-scale(1, $base-font-size, $font-ratio);
    font-weight: bold;
  }

  span.review-author {
    display: block;
    margin-bottom: $half-spacing;

    span.reviewer-author-name {
      font-weight: 700;
    }
  }

  .review-expand {

    &:after {
      content: "\25BA";
      margin-left: $half-spacing;
    }
  }

  .review-hide {

    &:after {
      content: "\25BC";
      margin-left: $half-spacing;
    }
  }

  .review-body {
    display: none;
  }
}

// Slider Specific Styles
ul.slides {
  li.review-entry {
    border-bottom: none;
    padding: 0;
    text-align: center;

    div.review-image {
      margin: 0 auto $base-spacing auto;
      float: none;
    }

    div.review-info {
      margin: 0 auto;
    }
  }
}

// Avatar Visibility Settings
div.brightfire-reviews.hide-avatar {

  li.review-entry {
    
    div.review-image {
      display: none;
    }

    div.review-info {
      margin: 0;
    }
  }

}

div.brightfire-reviews-widget-wrap {
  position: relative;

  a.review-archive-text {
    display: block;
    text-align: center;
  }

  a.review-archive-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

}

@include media( $mobile ) {

  li.review-entry {
    text-align: center;

    div.review-image {
      margin: 0 auto $base-spacing auto;
      float: none;
    }
    div.review-info {
      margin: 0 auto;
    }
  }
}